@import '~purecss/build/base.css';
@import '~purecss/build/menus.css';

.custom-restricted-width {
  /* To limit the menu width to the content of the menu: */
  display: inline-block;
}

.custom-restricted {
  height: 160px;
  width: 150px;
  border: 1px solid gray;
  border-radius: 4px;
}

.pure-menu-disabled {
	padding: 0;
}

.pure-menu-item {
	cursor: pointer;
}

.pure-menu-link {
	text-overflow: ellipsis;
	overflow: hidden;
}

.pure-menu-item-divided {
  border-top: 1px solid #333;
}

.pure-menu-item-divided-horizontal {
  border-left: 1px solid #333;
}

.pure-menu-has-children ul.pure-menu-children {
	width: 100%;
}

.pure-menu-horizontal ul.pure-menu-children ul.pure-menu-children {
  color: green;
  margin-left: 100%;
  margin-top: -34px;
}

.pure-menu-divider {
  height: 1px;
  margin: 0 9px 0 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.pure-menu-horizontal .pure-menu-divider {
  border-left: #e5e5e5 solid 1px;
  margin: 0;
  height: 41px;
}

.pure-menu-divider:after {
  content: " ";
}